.services-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: left;
    justify-content: center;
}
.services-text{
    color: rgb(255, 255, 255);
    margin: 0;
}
.services-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.services-title{
    color: gainsboro;
    margin: 0;
}
