.address-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: left;
    justify-content: center;
}
.address-text{
    color: rgb(255, 255, 255);
    margin: 0;
}
.address-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
}
.address-title{
    color: rgb(212, 212, 212);
    margin: 0;
}
.address-logo{
    display: flex;
    flex-direction: row;
    gap: 2px;
}